In [19]:
import pandas as pd
import numpy as np

## Operar con datos faltantes

### Python

In [8]:
print(
    None or True,
    None or False,
    None == None,
    None is None,
    # None + 1,
    # None / 2,
    type(None),
    sep="\n"
)

True
False
True
True
<class 'NoneType'>

### Numpy

In [18]:
print(
    np.nan or True,
    np.nan == np.nan,
    np.nan is np.nan,
    np.nan / 2,
    type(np.nan),
    np.isnan(np.nan),
    sep="\n"
)

nan
False
True
nan
<class 'float'>
True

In [20]:
test_missing_df = pd.DataFrame(
    {
        'x': [0, 1, np.nan, np.nan, None],
        'y': [0, 1, pd.NA, np.nan, None]
    }
)

test_missing_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

In [21]:
test_missing_df.isna()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [22]:
pd.Series([1, np.nan])

0    1.0
1    NaN
dtype: float64

In [23]:
pd.Series([pd.to_datetime("2022-01-01"), np.nan])

0   2022-01-01
1          NaT
dtype: datetime64[ns]