In [1]:
import pandas as pd
import numpy as np

## Conversión de valores faltantes implícitos a valores faltantes explícitos

In [2]:
implicit_df = pd.DataFrame(
    {
        'name': ['lynn', 'lynn', 'lynn', 'zelda'],
        'time': ['morning', 'afternoon', 'night', 'morning'],
        'value': [350, 310, np.nan, 320]
    }
)

### Estrategias para la identificación de valores faltantes implícitos

Pivotar la tabla de datos

In [6]:
(
    implicit_df
    .pivot(
        index= 'name',
        columns= 'time',
        values= 'value'
    )
)

time   afternoon  morning  night
name
lynn       310.0    350.0    NaN
zelda        NaN    320.0    NaN

Cuantificar ocurrencias de n tuplas

In [9]:
(
    implicit_df
    .value_counts(
        subset=["name"]
    )
    .reset_index(name="n")
    .query("n < 3")
)

    name  n
1  zelda  1